@font-face {
  font-family: "Syne-R";
  src: url("../font/Syne-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Syne-B";
  src: url("../font/Syne-Bold.otf") format("truetype");
  font-weight: 700;
}



:root {
  --white: white;
  --black: black;

  --primary-color: #282A17;
  --secondary-color: #337839;
  --third-color: #B3CE50;
  --h1-size: clamp(2rem, 3.5vw, 6rem);
  --h2-size: clamp(1.8rem, 2.5vw, 5rem);
  --h3-size: clamp(0.8rem, 1.5vw, 4rem);
  --text-size: clamp(0.5rem, 1vw, 2rem);
}

html {
  font-family: "Syne-R";
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 & h2  {
  font-family: "Syne-B";
  margin: 0;
}

section {
  padding: 4rem 1rem;
}
