@font-face {
  font-family: "Satoshi";
  src: url("../font/Satoshi-Variable.ttf") format("truetype");
}

:root {
  --white: white;
  --black: black;

  --grey-dark: #494949;
  --orange: #FF8C00;
  --green: #45AF55;
  --light-green: #7CFA8F;
  --orange: #F28F17;
  --primary-color: #467948;
  --secondary-color: #73BB86;
  --h1-size: clamp(2rem, 5vw, 6rem);
  --h2-size: clamp(1.8rem, 4vw, 5rem);
  --text-size: clamp(0.9rem, 2vw, 2.5rem);
}

html {
  font-family: "Satoshi";
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

section {
  padding: 4rem 1rem;
}
